body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*,
*::after,
*::before {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

aside.emoji-picker-react {
    position: absolute !important;
    width: calc(100% - 50px) !important;
    bottom: 80px !important;
    box-shadow: 0px 1px 2px rgba(100, 100, 100, .2) !important;
}